<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>JavaLogin</display-name>
    <servlet>
        <servlet-name>servletSolicitud</servlet-name>
        <servlet-class>Controlador.servletSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletTecnico</servlet-name>
        <servlet-class>Controlador.servletTecnico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletHistorial</servlet-name>
        <servlet-class>Controlador.servletHistorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletSolicitudesTecnico</servlet-name>
        <servlet-class>Controlador.servletSolicitudesTecnico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAprobarSolicitud</servlet-name>
        <servlet-class>Controlador.servletAprobarSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletProductoNuevo</servlet-name>
        <servlet-class>Controlador.servletProductoNuevo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletListarProductos</servlet-name>
        <servlet-class>Controlador.servletListarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletProductos</servlet-name>
        <servlet-class>Controlador.servletProductos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletUser</servlet-name>
        <url-pattern>/servletUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletSolicitud</servlet-name>
        <url-pattern>/servletSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletTecnico</servlet-name>
        <url-pattern>/servletTecnico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletHistorial</servlet-name>
        <url-pattern>/servletHistorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletSolicitudesTecnico</servlet-name>
        <url-pattern>/servletSolicitudesTecnico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAprobarSolicitud</servlet-name>
        <url-pattern>/servletAprobarSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletProductoNuevo</servlet-name>
        <url-pattern>/servletProductoNuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletListarProductos</servlet-name>
        <url-pattern>/servletListarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletProductos</servlet-name>
        <url-pattern>/servletProductos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletUser</servlet-name>
        <servlet-class>Controlador.servletUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controlador.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
</web-app>
